---
import GitHubIcon from "./icons/GitHubIcon.astro";
---

<header class="text-white py-6">
  <div class="flex justify-between">
    <h1 class="font-bold text-4xl">Linkiverse</h1>
    <div class="flex items-center gap-2">
      <a
        href="https://www.github.com/daldev14/linkiverse"
        title="daldev14 - Linkiverse"
        class="p-2 rounded-md transition-all duration-300 hover:bg-white/25 hover:shadow-sm"
        target="_blank"
        rel="noopener noreferrer"
      >
        <span class="sr-only">daldev14 . Linkiverse</span>
        <GitHubIcon />
      </a>
    </div>
  </div>
</header>
